.blogs{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;
}
.blogs a{
border: 2px solid #04AA6D;
padding: 5px 10px;
text-align: center;
display: inline-block;
font-size: 10px;
margin-left: 20px;
margin-bottom:10px;
text-decoration: none;
}
.blogs a:hover {
  color: black;
  background-color: lightgreen;
  }
